//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 11 14:21:35 2022
//! **************************************************************************

SCHEMATIC START;
COMP "rst" LOCATE = SITE "J15" LEVEL 1;
COMP "out<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "out<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "out<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "out<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "out<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "out<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "out<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "out<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "out<8>" LOCATE = SITE "V16" LEVEL 1;
COMP "out<9>" LOCATE = SITE "T15" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "button" LOCATE = SITE "L16" LEVEL 1;
COMP "array<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "array<1>" LOCATE = SITE "R15" LEVEL 1;
COMP "array<2>" LOCATE = SITE "R17" LEVEL 1;
COMP "array<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "array<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "out<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "out<11>" LOCATE = SITE "T16" LEVEL 1;
COMP "out<10>" LOCATE = SITE "U14" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "a0/counter_0" BEL "a0/counter_1" BEL "a0/counter_2"
        BEL "a0/counter_3" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

